<header
  class="sticky top-0 min-w-[520px] w-full bg-yellow-50 flex justify-between items-center px-4 py-1 border-b-gray-400 border-2">
  <div>
    <button class="border rounded bg-blue-200 px-2 py-2 hover:bg-blue-100 transition" (click)="logout()">
      Logout
    </button>
  </div>

  <div>
    <p>User: {{username}}</p>
  </div>

  <div class="text-sm">
    <p class="text-right">Romanenko Mikhail Romanovich</p>
    <p class="text-right">Group P3211</p>
    <p class="text-right">Variant 34229</p>
  </div>
</header>
